.projects {
    background-color: #f9f9f9;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  